# Shared
NODE_ENV=development

# Web
NEXT_PUBLIC_API_BASE_URL=https://api.platform.com

# Mobile
EXPO_PUBLIC_API_BASE_URL=https://api.platform.com

# Database
POSTGRES_USER=clinicall
POSTGRES_PASSWORD=clinicall
POSTGRES_DB=clinicall
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=clinicall
MINIO_ROOT_PASSWORD=clinicall123
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_BUCKET=clinicall
