NEXT_PUBLIC_APP_NAME=ClinicAll
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_WEB_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_TENANT_SLUG=clinic-demo
NEXT_PUBLIC_ENABLE_WIDGET=true
NEXT_PUBLIC_ENABLE_SUPER_ADMIN=true